// Breakpoints
@mixin breakpoints($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $value: map-get($breakpoints, $breakpoint); // Write the media query.
    @media (min-width: $value) {
      @content;
    } // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Color Mixins
@mixin color($color: primary) {
  color: map-get($colors, $color);
}

@mixin background($color: primary) {
  background: map-get($colors, $color);
}
